<section>
  <h1>Java 10</h1>

  <small>
    Yuri Sakhno<br />
    GitHub: <a target="_blank" href="https://github.com/ysakhno/present-java10">ysakhno/present-java10</a>
  </small>
</section>

<section>
  <h2>Current state of things</h2>

  <ul>
    <li>Java 10 got released on March 20, 2018</li>
    <li>It's a current short-term release</li>
    <li>current long-term support release is Java 8</li>
    <li>next LTS is Java 11 on September 25, 2018</li>
  </ul>
</section>
  
<section>
  <h2>New Major Features</h2>

  <ul>
    <li class="fragment"><strong>Local-variable type inference:</strong>
      <span class="grey">enhances the Java Language to extend type inference to declarations of local variables with initializers</span></li>
    <li class="fragment"><strong>Application class-data sharing:</strong>
      <span class="grey">allows application classes to be placed in the shared archive</span></li>
    <li class="fragment"><strong>Java-based JIT compiler (aka Graal):</strong>
      <span class="grey">experimental compiler enabled on the Linux/x64 platform</span></li>
    <li class="fragment"><strong>Parallel Full GC for G1:</strong>
      <span class="grey">improves G1 worst-case latencies by making the full GC parallel</span></li>
  </ul>
</section>
